dataconversion/dcmfilenames.ipynb
data_conversion/dicom_ctpt_to_nifti_conversion_file.csv
data_conversion/dicom_rtstruct_to_nifti_conversion_file.csv
data_split/*.csv
metrics/*.csv
metrics/lesion_metrics.ipynb
total_seg/*
nolesions.csv
cufile.log
segmentation/psma_data_exploration.csv
metrics/*.csv
segmentation/another_rough.py
segmentation/anplot.png
segmentation/average_calc.ipynb
segmentation/lesion_vis.ipynb
segmentation/manage_space.py
segmentation/negimgs.csv
segmentation/normalizepet.py
segmentation/playground.ipynb
segmentation/plot_lesion.ipynb
segmentation/plot_lesions_new_ipynb
segmentation/plotss.png
segmentation/*.csv
segmentation/rough.ipynb
segmentation/tryallgpu.py
segmentation/train_dfl.sh
segmentation/train_L1ghdl.sh
segmentation/trainddp.py
segmentation/calc_valid_metrics.py
segmentation/calc_valid_metrics.sh
segmentation/calculate_ensemble_test_metrics.py
segmentation/data_explore.py
segmentation/valid_predict.py
segmentation/visualize_pred.py
segmentation/check_loss.ipynb
segmentation/plot_lesions_new.ipynb
__pycache__
metrics/__pycache__
