dataconversion/dcmfilenames.ipynb
data_conversion/dicom_ctpt_to_nifti_conversion_file.csv
data_conversion/dicom_rtstruct_to_nifti_conversion_file.csv
data_split/*.csv
metrics/*.csv
total_seg/*
nolesions.csv
cufile.log
segmentation/psma_data_exploration.csv
metrics/*.csv
segmentation/another_rough.py
segmentation/anplot.png
segmentation/average_calc.ipynb
segmentation/lesion_vis.ipynb
segmentation/manage_space.py
segmentation/negimgs.csv
segmentation/normalizepet.py
segmentation/playground.ipynb
segmentation/plot_lesion.ipynb
segmentation/plot_lesions_new_ipynb
segmentation/plotss.png
segmentation/*.csv
segmentation/rough.ipynb